<?xml version='1.0' encoding='utf-8'?>
<widget id="com.matthias.jarvis"
        version="1"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>JARVIS</name>
    <description>
        JARVIS!
    </description>
    <author email="christiaens.matthias@hotmail.com" href="#">
        JARVIS
    </author>
    <content src="index.html" />

    <!-- General preferences -->
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <preference name='phonegap-version' value='cli-6.5.0' />
    <plugin name="cordova-plugin-crosswalk-webview" source="npm" version="2.3.0"/>
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <!--<preference name="Orientation" value="portrait" />-->
    <preference name="DisallowOverscroll" value="true" />

    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="SplashScreenDelay" value="5000" />
    <preference name="FadeSplashScreen" value="false"/>
    <preference name="KeyboardDisplayRequiresUserAction" value="false" />
    <preference name="loadUrlTimeoutValue" value="700000" />
</widget>
